@model AgileTask.Domain.ViewModels.DepartmentViewModel

@{
    ViewData["Title"] = "AddNewDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Department</h1>

<hr />

<div class="content-wrapper">

    <div class=" flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form asp-action="AddNewDepartment">
                            <div class="mb-3">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                               <label asp-for="AbbrName" class="control-label"></label>
                                    <input asp-for="AbbrName" class="form-control" />
                                    <span asp-validation-for="AbbrName" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Note" class="control-label"></label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>

                            <button type="submit" value="Create" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>