
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Access Denied</title>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            overflow: hidden
        }

        .img-box img {
            width: 300px;
        }

        .img-box h1 {
            text-align: center;
        }
    </style>
</head>

<body style="background-color: #E7EAF0;">

    <div class="container-fluid justify-content-md-center h-100">

        <div class="row justify-content-md-center align-items-center h-100">
            <div class="col-md-6 img-box">

                <img src="~/images/denied.png" alt="Image">
                <h1>Access Denied</h1>

            </div>
        </div>

    </div>




</body>
</html>
