@model AgileTask.Domain.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Settings";
}

<h1>User Settings</h1>
<hr />

<div class="content-wrapper">
    <div class=" flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form asp-action="Settings">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="mb-3">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="PositionId" class="control-label"></label>
                                <select class="form-select" id="exampleFormControlSelect1" asp-for="PositionId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Positions"]" style=" width:100%"></select>
                                <span asp-validation-for="PositionId" class="text-danger"></span>

                            </div>
                            <div class="mb-3">
                                <label class="control-label">Department</label>
                                <select class="form-select" id="exampleFormControlSelect1" asp-for="DepartmentId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Departments"]" style=" width:100%"></select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>

                            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>
